* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  /* padding: 20px; */
  /* background: linear-gradient(to bottom, rgba(105, 91, 182,0) 0%, rgba(105, 91, 182,.2) 50%); */
  /* repeats so dark at top again */
  background: repeating-linear-gradient(to bottom, rgba(105, 91, 182,0) 0%, rgba(105, 91, 182,.2) 50%);
  background-color: var(--dark);
  /* border: 1px solid blue; */
    min-height: 100vh;
}



:root {
  --light: #f5f5f5;
  --dark: #0a0a0a;
  --light-purple: #a5a5ff; 
  --mauve: #695bb6; /* to rgb(105, 91, 182) */
  --accent: #78c664; /* to rgb(120, 198, 100) */
}



html {
    /*  This makes all anchor jumps (href="#sectionID") scroll smoothly instead of jumping instantly. */
  scroll-behavior: smooth; 
}