#home {
  min-height: 100vh;
  padding-bottom: 70px;

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
   z-index: 1000;
}
nav a {
  text-decoration: none;
  color: var(--light);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 30px;
  font-size: 14px;
  padding: 16px 15px;
  /* border: 1px solid yellow; */
}
nav a:hover {
  background-color: var(--light);
  color: var(--dark);
}

.nav-list {
  background-color: rgba(105, 91, 182, 0.18);

  border-radius: 30px;
  width: fit-content;
  /* max-width: 401px; */
  height: 51px;
  margin: 33px auto 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 26px; */

  list-style: none;
  padding: 0.5rem 0rem;
  /* border: 1px solid rgb(0, 255, 242); */
}

.name {
  /* text-align: left;
  border: 1px solid greenyellow; */
  padding-top: 12%;
  padding-left: 5%;
}

/* Hero Section Styles */

.hero-section {
  display: flex;
  justify-content: flex-end; /* pushes content to the right */
  align-items: center; /* vertical center in viewport */

  min-height: 50vh;
  padding-right: 5%;
  /* border: 1px solid pink; */
}

.hero {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero h1 {
  font-size: 64px;
  font-family: Newsreader, serif;

  line-height: normal;
  width: 879px;
  color: var(--light);
  font-weight: 350;
  /* border: 1px solid rgb(0, 179, 255); */
}

.hero button {
  margin-top: 24px;
  background-color: rgba(105, 91, 182, 0.18);
  color: var(--light);
  /* border: 1px solid rgba(105, 91, 182,.42); */
  border: 1px solid var(--light);
  border-radius: 21px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s, color 0.3s, background-color 0.15s,
    transform 0.15s, border-style 0.15s, color 0.15s;
  align-self: center;
  box-shadow: -10px -10px 50px rgba(105, 91, 182, 0.28),
    inset 0px 10px 50px rgba(255, 255, 255, 0.2);
}
.hero button:hover {
  background-color: var(--light);
  color: var(--dark);
}

.hero button:active {
  transform: scale(0.98);
  color: var(--light);
  background-color: rgba(105, 91, 182, 0.42);
  border-style: solid; /* keep border solid */
  outline: 2px dashed var(--light); /* adds dashed on top */
  outline-offset: 6px; /* space between border and outline */
}

/* .hero button:active .material-symbols-outlined {
  background-color: transparent;
  color:var(--light);
} */

.material-symbols-outlined {
  color: var(--dark);
  background-color: var(--light);
  padding: 4px;
  border-radius: 50%;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Contact Icons */
.contact-icons {
  padding-left: 5%;
  width: fit-content;
  /* border: 1px solid rgb(240, 116, 219); */
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
}

/* name */

.name h1 {
  font-size: 48px;
  color: var(--light-purple);
  font-weight: 400;
  opacity: 0.26;
}

.name h3 {
  font-size: 24px;
  color: var(--light-purple);
  font-weight: 300;
  margin-top: 8px;
  font-size: 20px;
  opacity: 0.6;
}

.name p {
  font-size: 18px;
  color: var(--light-purple);
  font-weight: 100;
  margin-top: 5px;
  max-width: 300px;
  opacity: 0.6;
  /* border: 1px solid blue; */
  line-height: 1.3;
}

/* "scrolled" class is created when scroll pos > 50 */
.scrolled {
 /* border: 1px solid rgb(0, 255, 64); */
    backdrop-filter: blur(10px);
    /* box-shadow: 0/ 4px 20px rgba(105, 91, 182, 0.15); */
}